.line {
  display: block;

  &:hover,
  &:active,
  &:focus {
    cursor: default;
  }

  &__inner {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    line-height: 0.9;
  }
}