//------------------------------------------------------------------------
//  $Typography
//------------------------------------------------------------------------

$ff-primary   : 'Montserrat', sans-serif;
$ff-secondary : Georgia, serif;

$fw-light   : 300;
$fw-regular : 400;
$fw-bold    : 700;

//------------------------------------------------------------------------
//  $Colours
//------------------------------------------------------------------------

$grey: #5a5a5a;
$grey2: #6e6e6e;
$grey3: #575757;
$red: #ff0000;
$black: #000;
$white: #fff;

//------------------------------------------------------------------------
//  $Layout
//------------------------------------------------------------------------

$max-width   : 80rem; // 1280
$gtr         : 1.875rem; // 30
$gtr-half    : 0.9375rem; // 15
$cols        : 12;

$p-width       : 60vw;
$p-font-factor : 0.25;
$l-font-factor : 0.17;
$l-width       : 84.6vw;
$width-factor  : 0.6;

$s  : 30em; // 480
$m  : 48em; // 768
$l  : 64em; // 1024
$xl : 80em; // 1280

//------------------------------------------------------------------------
//  $Media Queries
//------------------------------------------------------------------------

$small-screen-up  : new-breakpoint(min-width $s);
$medium-screen-up  : new-breakpoint(min-width $m);
$large-screen-up  : new-breakpoint(min-width $l);
$extra-large-screen-up : new-breakpoint(min-width $xl);

//------------------------------------------------------------------------
//  $zindex map
//------------------------------------------------------------------------

$zindex: (
    top:    500,
    bottom: 200
);
