//------------------------------------------------------------------------
//  $Typography
//------------------------------------------------------------------------

$ff-primary   : 'Open Sans', sans-serif;
$ff-secondary : Georgia, serif;

$fw-light   : 300;
$fw-regular : 400;
$fw-bold    : 700;

//------------------------------------------------------------------------
//  $Colours
//------------------------------------------------------------------------

$white: #fff;
$black: #000;

//------------------------------------------------------------------------
//  $Layout
//------------------------------------------------------------------------

$max-width   : 80rem; // 1280
$gtr         : 1.875rem; // 30
$gtr-half    : 0.9375rem; // 15
$cols        : 12;

$s : 30em; // 480
$m : 48em; // 768
$l : 64em; // 1024
$xl : 80em; // 1280

//------------------------------------------------------------------------
//  $Media Queries
//------------------------------------------------------------------------

$small-screen-up  : new-breakpoint(min-width $s);
$medium-screen-up  : new-breakpoint(min-width $m);
$large-screen-up  : new-breakpoint(min-width $l);
$extra-large-screen-up : new-breakpoint(min-width $xl);

//------------------------------------------------------------------------
//  $zindex map
//------------------------------------------------------------------------

$zindex: (
    top:    500,
    bottom: 200
);
