//------------------------------------------------------------------------
//  $Main
//------------------------------------------------------------------------

*,
:before,
:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-size: 1rem;
  line-height: 1.5;
  font-family: $ff-primary;
  color: $black;
  background-color: $white;
}
