//------------------------------------------------------------------------
//  $Document flow
//------------------------------------------------------------------------

.flow {
  @include flow;
}

//------------------------------------------------------------------------
//  $Wrappers
//------------------------------------------------------------------------

.wrapper {
  max-width: $max-width;
  padding-left: $gtr-half;
  padding-right: $gtr-half;
}
