.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  @include media($medium-screen-up) {
    flex-direction: row;
    align-items: flex-start;
  }
}